:root{
    --tertiary-color:#DB4444
}

.search  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:5em;
    pointer-events: none;
}

.carousel-contain-size{
    width:80rem;
    
}
/* next to lower title */
.red-blob{
    width:1.875rem;
    height: 3.125rem;
    background-color:var(--tertiary-color);
    border-radius: 0.625rem;
  
}
/* arrows */
.text-peach{
    color: var(--tertiary-color);
}

.bg-color-grey{
    border-radius: 50%;
    background-color:#F5F5F5;
    width: 1.875rem;
    height: 1.875rem;
}

.icon-scale{
    scale:2;
}

.center-left{
    position: relative;
    bottom: .14em;
    left: .1em;
}

.center-right{
    position: relative;
    left:.1em;
    bottom:.14em;
}

.hidden{
    visibility:hidden;
}

/* card group */

.card-overflow{
    height: 50rem;
    width:90rem;
    /* overflow-x: scroll; */
}


/* view all products btn*/

.btn-peach{
    background-color: var(--tertiary-color);
    color: white;
}

/* hr (line) */

.line{
    width:90rem;
}

/* ------- Category------- */
/* cards container */

