.search  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:5em;
    pointer-events: none;
}

.carousel-contain-size{
    width:80rem;
    
}

.red-blob{
    width:1.875rem;
    height: 3.125rem;
    background-color:#DB4444;
    border-radius: 0.625rem;
  
}

.text-peach{
    color: #DB4444;
}

.text-gray{
    
    background-color: black ;
    
    color:#F5F5F5;
}

.icon-scale{
    scale:2;
}